<header class="ict-header">

    <div class="ict-container">

        <div class="ict-logo">

            <a href="/">

                <img
                    src="/assets/ifi_portal/images/logo-ict.svg"
                    alt="ICT">

            </a>

        </div>

        <nav class="ict-nav">

            <a href="/">Inicio</a>

            <a href="/donaciones">Donaciones</a>

            <a href="/certificados">Certificados</a>

            <a href="/ayuda">Ayuda</a>

        </nav>

        <div class="ict-user">

            <a
                href="/login"
                class="ict-btn-primary">

                Ingresar

            </a>

        </div>

    </div>

</header>